.yii2-image-ajax .image-data img {
    width: 120px;
    border: 1px dashed #6A0088;
}
.yii2-image-ajax .image-data {
    font-size: 0;
}
.yii2-image-ajax .table {
    display: table;
    width: 100%;
    height: 100%;
    background: inherit;
}
.yii2-image-ajax .table-cell:first-child {
    width: 120px;
}
.yii2-image-ajax .table-cell:last-child {
    padding-left: 10px;
}
.yii2-image-ajax .table-cell {
    display: table-cell;
    vertical-align: top;
}
.btn-green-image-ajax {
    padding: 7px 14px;
    border: 1px solid white;
    color: white;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    background: #6A0088;
    border: 1px solid #3d0047;
    font-weight: bold;
    cursor: pointer;
	margin-bottom: 5px;
}
.btn-red-image-ajax {
    padding: 7px 14px;
    border: 1px solid white;
    color: white;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    background: #880000;
    border: 1px solid #470000;
    font-weight: bold;
    cursor: pointer;
	margin-bottom: 5px;
}
.yii2-image-ajax .subtitle {
    font-size: 14px;
    color: #BBBBBB;
    width: 100%;
}
.yii2-image-ajax .dz-preview {
    display: none;
}
.yii2-image-ajax .error-block {
    border: 1px solid #BB0D0D;
    background: #FFE8E8;
    color: #690000;
    border-radius: 4px;
    padding: 5px 10px;
    margin-bottom: 5px;
    font-size: 13px;
    display: none;
}
.yii2-image-ajax .image-data {
    position: relative;
    height: 120px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.yii2-image-ajax .image-data .load {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
}
.yii2-image-ajax .image-data .load img {
    border: none;
    width: 30px;
}
.yii2-image-ajax .image-data .load .table {
	background-color: inherit;
}
.yii2-image-ajax .image-data .load .table-cell {
    padding: 0;
    text-align: center;
    vertical-align: middle;
}